{% extends "grrbl/grrbl.html" %}
{% load i18n %}
{% load class_name %}

{% block title %}
Details
{% endblock %}

{% block content %}
<h2>{{ object.emailaddress }} </h2>
<h3>{{ object.get_b_or_w_display }} added on {{ object.dateadded }} by {{ object.reportedby }}</h3>
<br>
<p>Last update on {{ object.updated }}</p>
<p>Further info: {{ object.attacknotes }}<p>
<p>Curent Votes: {{ object.votes }}</p>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<p>
<form action="{% url grrbl.views.vote object|class_name|lower object.id %}" method="post">
	{% csrf_token %}
	<select name="vote">
			<option value="-1">- DownVote -</option>
			<option value="0" selected="true">- Neutral -</option>
			<option value="1">- UpVote -</option>
	</select>

	<input type="submit" value="vote" />
</form>
</p>
{% if perms.grrbl.is_superuser %}
   <p>Administrative: {% trans "Edit this entry" %}? <a href={% url admin:grrbl_email_change object.id %}>{% trans "Edit it" %}</a>!</p>
{% endif %}
{% endblock %}
